
    <nav>
        <ul>
            <li><a href="RegistrarEmpleado">Registrar Empleado</a></li>
            <li><a href="Empleados">Empleados</a></li>
            <li><a href="Asistencias">Asistencias</a></li>
        </ul>
    </nav>

    <a href="/" class="return-button">Cerrar Sesion</a>