<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="estilo.css"/>
        <title>Inicio</title>
    </head>

    <body>
        <nav>
            <a href="Inicio.html">Regresar</a>
        </nav>
    
<div id="tabla">
        <table>
            <tr>
                <th>Usuario</th>
                <td></td>
              </tr>
              <tr>
                <th>Nombre</th>
                <td></td>
              </tr>
              <tr>
                <th>Departamento</th>
                <td></td>
              </tr>
              <tr>
                <th>Contraseña</th>
                <td></td>
          </table>
        </div>
    </body>
</html>