{{> header}}
<nav>
    <a href="AdministracionInicio">Administración</a>
</nav>
<img src="Imagenes/Logo.png" alt="Descripción de la imagen" />

<div>
    <a href="Login">Iniciar sesión</a>
    <a href="signup">Registrarse</a>
</div>
{{> footer}}